* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #fff;
  line-height: 1.1rem;
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  background:
    radial-gradient(
      circle at 85% 25%,
      rgba(240, 255, 220, 0.8),
      transparent 35%
    ),
    radial-gradient(
      circle at 75% 35%,
      rgba(170, 220, 255, 0.6),
      transparent 40%
    ),
    radial-gradient(
      circle at 15% 90%,
      rgba(255, 255, 255, 0.15),
      transparent 25%
    ),
    #050505;

  background-repeat: no-repeat;
}

.header {
  background-color: #1a1a1a;

  margin-top: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;

  padding: 12px;
  border-radius: 22px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.main {
  margin-top: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading_one {
  font-size: 3rem;
  margin-bottom: 5px;
}

.dimmed_text {
  color: #aaa;
  margin-bottom: 2rem;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.actionable {
  font-weight: bold;
  background-color: #1a1a1a;
  padding: 12px;
  padding-inline: 22px;
  border-radius: 20px;
}

.focus {
  font-weight: bold;
  background-color: #fff;
  color: #050505;
  padding: 12px;
  padding-inline: 22px;
  border-radius: 20px;
}
